
:root{
    --second-color:rgb(#f58a1e);
    --font-family: 'Comfortaa', cursive;
    
}
/* ολο το ντιβ*/
body{
    min-width: 150px;
    font-family: var(--font-family);
    
}



/*titlos*/
.info{
    margin-bottom: 10px;
    margin-left: 10px;
    display: block;
}
.title{
    font-size: 40px;
    
    
}
.venue{
    font-size: 30px;
    color: rgb(100, 98, 98);
    
    
}

/*εικονα baner*/

.media{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/c/c4/Don_Giovanni_Act2_set_design_Prague_1790s_-_NGO_1p1205.jpg/640px-Don_Giovanni_Act2_set_design_Prague_1790s_-_NGO_1p1205.jpg);
    height: 140px;
    color: white;
    font-size:50px;
    
    
}

.media .title {
    
    position: relative;top: 98px;
    background-color: rgba(0, 0, 0, 0.767);
    padding-left: 20px;
    
    
}

.overview{
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    
    
}



.role-name .name{
    color: rgb(3, 3, 3);
    margin-bottom: 20px;
    font-size: 25px;
    
    
}
.role-name .role{
    margin-left: 10px;
    color:var(--second-color);
    opacity: 0.8;
    font-size: 25px;
    
    

}


.role::before {
    content: ' \007C';
    color: #f58a1e;
    font-weight:lighter;
    margin-right: 10px;
    font-size: 25px;


}

.important{
    margin-bottom: 20px;
    display: block;
    
}
#a{
    cursor: pointer;
    font-size: 25px;
    opacity: 0.9;

}

#a:hover::after{
    content: 'Ώρα έναρξης: 19.30 (Κυριακές: 18.30)';
    padding-left: 30px;
    cursor: pointer;
    font-size: 25px;
    opacity: 0.9;


}

#b{
    display: none;
}

.secondary .details-menu{
    font-weight: bold;
    display: inline;
    margin-left: 10px;
    font-size: 25px;
    

}

.details-menu:hover {
    color: #f58a1e;
    cursor: pointer;
}

.details-menu a:hover {
    color: #f58a1e;
    
}

.secondary a {
    text-decoration: none;
    color: black;
    
}
.secondary a::before{
    content: "\00b7";
    padding-right: 10px;
    color: black;
    font-size: 28px;
    
}

.synopsis{
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
}



p a::before{
    display: none;
}

p a:link{
    border-bottom: solid;
    color: black;
    margin: 1em;

    
}


p a:hover{
    border-bottom: solid #f58a1e;
    
    
}

#roles{
    margin: 40px;
}

#roles .name{
    font-size: 20px;

}
#roles .role{
    font-size: 20px;

}

/*teleuteo komati*/
.action{
    margin: 15px;
}
.action .button{
    padding: 20px ;
    background-color:#f58a1e;
    color: white;
    border-radius: 10px;
    border:none;
    
}
.button:hover{
    background-color: rgba(0, 0, 0, 0.034);
    color: black;

    
}
